
html, body {
  margin: 0; 
  padding: 0;
  background: blueviolet ;

}
/*o seletor abaixo define o que vai acontecer o a ferramenta canvas que é o elemento que conterá o jogo*/
canvas {
/*Quando um elemento tem a propriedade display definida como block, ele é 
renderizado como um bloco retangular que ocupa toda a largura disponível*/
  display: block;
}
